<nav class="navigation navigation--primary" role="navigation">
  <div class="navigation__inner">
    <ul class="navigation__list">
      <div class="navigation__row">
        <% data.menus.navigation.each_with_index do | menu, index | %>
        <li class="navigation__item">
          <a class="navigation__link" href="<%= menu.link %>"><span class="navigation__copy"><%= menu.title %></span></a>
        </li>
        <% end %>
      </div>
    </ul>
  </div>
</nav>
