<div class="scripts">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/javascripts/libs/jquery/1.11.1/jquery.min.js"><\/script>')</script>
  <%= javascript_include_tag  "all" %>
  <%= javascript_include_tag  "toggle" %>
  <%= javascript_include_tag  "search" %>
  <%= yield_content :javascripts %>
</div>
