// Library: Bourbon
@import "dependencies/bourbon/bourbon";

// Dependency: Grid Variables & Mixins
@import "dependencies/grid";

// Library: Neat
@import "dependencies/neat/neat";

// Dependency: Colors
@import "dependencies/color";

// Dependency: Typography
@import "dependencies/typography";

// Helpers
@import "helpers/mixins";
@import "helpers/resets";

// Dependency: Fontello
@import "dependencies/fontello";

// Foundational Reset
@import "foundation/block";
@import "foundation/forms";
@import "foundation/headings";
@import "foundation/inline";
@import "foundation/inputs";
@import "foundation/lists";
@import "foundation/media";
@import "foundation/site";
@import "foundation/tables";

// Replace development sheet with component sheets on production prep
@import "components/development";

html, body {
  @include ⌂-background($color-white, 1);
  @extend %font-sans-serif-book;
  color: $color-text;
  font-size: $base-font-size-px-mobile;
  @include media($mq-lap) {
    font-size: $base-font-size-px-tablet;
  }
  @include media($mq-desk) {
    font-size: $base-font-size-px-desktop;
  }
}

.header {
  @include ⌂-background($color-white, .8);

  .header__inner {
    @include position(relative, null null null null);
  }
}

.toggle {
  @extend %reset-button;
  @include size(2.5em 100%);
  text-align: center;

  &.toggle--navigation {
    @include position(absolute, 0 null null 0);
    
    &:before {
      @include ⌂-icon(menu, 24);
    }
  }

  &.toggle--search {
    @include position(absolute, 0 0 null null);

    &:before {
      @include ⌂-icon(search, 24);
    }
  }
}

.logo {
  @include position(relative, null null null null);
  @include margin(null auto null auto);
  @include padding(.5em null .5em null);
  width: 50%;

  .logo__heading {
    display: none;
  }

  .logo__image {
    display: block;
    @include position(relative, null null null null);
    @include size(null auto);
    @include margin(null auto null auto);
    max-width: 100%;
  }
}

.search {
  display: none;
}

.navigation {

  &.navigation--primary {
    @include ⌂-pattern(navigation, impact);
  }
}
