// Library: Bourbon
@import "dependencies/bourbon/bourbon";

// Dependency: Grid Variables & Mixins
@import "dependencies/grid";

// Library: Neat
@import "dependencies/neat/neat";

// Dependency: Colors
@import "dependencies/color";

// Dependency: Typography
@import "dependencies/typography";

// Helpers
@import "helpers/mixins";
@import "helpers/resets";

// Dependency: Fontello
@import "dependencies/fontello";

// Foundational Reset
@import "foundation/block";
@import "foundation/forms";
@import "foundation/headings";
@import "foundation/inline";
@import "foundation/inputs";
@import "foundation/lists";
@import "foundation/media";
@import "foundation/site";
@import "foundation/tables";

// Replace development sheet with component sheets on production prep
@import "components/navigation--primary";
@import "components/development";

html, body {
  background: url('/images/bg.png');
  @extend %font-sans-serif-book;
  color: $color-text;
  font-size: $base-font-size-px-mobile;
  @include size(null 100%);
  @include media($mq-lap) {
    font-size: $base-font-size-px-tablet;
  }
  @include media($mq-desk) {
    font-size: $base-font-size-px-desktop;
  }
}
.forest {
  @include ⌂-container;
  @include margin(2.5em null 2.5em null);
}

.tree {
  @include span-columns(12);
  @include ⌂-background($color-white, .5);
  line-height: 1.5;
  @include padding(.5em 1em);
  text-align: center;

  .tree__timestamp {
    display: block;
    font-size: em(7);
    color:lighten($color-text, 35%);
  }

  @include media($mq-lap) {
    @include span-columns(6);
    @include shift(3);
  }
}
