/**
 * ⌂-heading
 *
 * Implements a site standardized heading. Accepts a single
 * argument for heading level.
 *
 */
@mixin ⌂-heading($level) {
  @if $level == 1 {
    text-transform: uppercase;
    @extend %font-weight-bold;
    color: $color-text-heading;
    font-size: em(28);
  }

  @if $level == 2 {
    text-transform: uppercase;
    @extend %font-weight-bold;
    color: $color-text-heading;
    font-size: em(22);
  }

  @if $level == 3 {
    font-size: em(18);
    line-height: em(32,18);
  }

  @if $level == 4{
    text-transform: uppercase;
    @extend %font-weight-bold;
    color: $color-text-heading;
    font-size: em(16);
  }
}
