html {
  @extend %font-sans-serif-regular;
  color:#333;
  font-size:$base-font-size-px-mobile;
  @include media($tablet) {
    font-size:$base-font-size-px-tablet;
  }
  @include media($desktop) {
    font-size:$base-font-size-px-desktop;
  }
}
