@mixin ⌂-font-weight($weight) {

  @if $weight == light {
    font-weight: $font-weight-light;
  }
  @if $weight == book {
    font-weight: $font-weight-book;
  }
  @if $weight == medium {
    font-weight: $font-weight-medium;
  }
  @if $weight == bold {
    font-weight: $font-weight-bold;
  }
}
