/**
 * ⌂-hide-text
 *
 * Hides text of applied element.  Accepts no arguments. Based
 * off of a previous version of the H5BP image replacement 
 * method.  I've found it to be far more reliable than the clip
 * method.
 *
 */
@mixin ⌂-hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
