/**
 * ⌂-pattern
 *
 */
@mixin ⌂-pattern($pattern, $modifier, $context: all) {

  @if $pattern == 'navigation' {

    @if $modifier == 'impact' {

      @if $context == 'global' {

        // Pattern
        .navigation {

          &.navigation--primary {
            @include position(absolute, null null null null);
            @include transition(transform 500ms $ease-in-out-quint);
            @include transform(translateY(-100%));
            @include ⌂-background($color-black, .8);
            @include ⌂-layer(loft);
            @include ⌂-clear();

            .navigation__row {
            }

            .navigation__link {
              display: block;
              @include ⌂-font(sans-serif, bold, $color-text-invert);
              text-transform: uppercase;
              text-align: center;
              font-size: em(26);

              &:hover {
                color: $color-theme-primary;
              }
            }

            @include media($mq-lap) {

              .navigation__row {
              }

              .navigation__link {
                font-size:em(32);
              }
            }

            @include media($mq-desk) {

              .navigation__row {
              }

              .navigation__link {
                font-size:em(38);
              }
            }
          }
        }

        // States
        .page {

          &.active--navigation {
            @include transform(translateY(0%));
          }
        }
      }
    }

    @if $modifier == "rightSlide" {

      .navigation {

        &.navigation--primary {


        }
      }
    }
  }

  @if $pattern == "toggle" {

    @if $modifier == "right" {

      @if $context == "all" {

        @include position(absolute, 0 0 null null);
      }
    }

    @if $modifier == "right--1" {

      @if $context == "all" {

        @include position(absolute, 0 2.5em null null);
      }
    }

    @if $modifier == "left" {

      @if $context == "all" {

        @include position(absolute, 0 null null 0);
      }
    }
  }

  @if $pattern == "header" {

    @if $modifier == "default" {

      @if $context == "all" {

        @include position(relative, null null null null);
        @include ⌂-layer(loft);

        .header__inner {
          @include position(relative, null null null null);
        }
      }
    }

    @if $modifier == "fixed" {

      @if $context == "all" {

        @include position(fixed, null null null null);
        @include size(100% null);
        @include ⌂-layer(loft);

        .header__inner {
          @include position(relative, null null null null);
        }
      }
    }
  }

  @if $pattern == "main" {

    @if $modifier == "default" {

      @include position(relative, null null null null);
      @include ⌂-layer(ground);
    }
  }

  @if $pattern == "footer" {

    @if $modifier == "default" {

      @include position(relative, null null null null);
      @include ⌂-layer(ground);
    }
  }

  @if $pattern == "slide" {

    @if $modifier == "no-cta" {

      .slide__cta {
        display: none;
      }
    }

    @if $modifier == "ltr" {

      @include media($mq-lap) {

        .slide__heading {
          @include span-columns(6);
        }

        .slide__subheading {
          @include span-columns(6);
          clear: left;
        }

        .slide__copy {
          @include span-columns(6);
          clear: left;
        }

        .slide__cta {
          float: left;
          clear: left;
        }
      }
    }

    @if $modifier == "rtl" {

      @include media($mq-lap) {

        .slide__heading {
          @include span-columns(6);
          @include shift(6);
        }

        .slide__subheading {
          @include span-columns(6);
          @include shift(6);
          clear: left;
        }

        .slide__copy {
          @include span-columns(6);
          @include shift(6);
          clear: left;
        }

        .slide__cta {
          float: left;
          @include shift(6);
          clear: left;
        }
      }
    }
  }







  @if $pattern == 'tile' {

    @if $modifier == 'image-left' {

      @if $context == 'desk' {

        @include media($mq-desk) {

          .tile__image {
            @include size(200px);
            padding-bottom:0;
            background-position:50% 50%;
            display: table-cell;
            border-bottom: none;
            border-right: 1px solid $color-border;
          }

          .tile__content {
            display: table-cell;
          }
        }
      }
    }
  }
}
